.infoPanel{
    width: 75%;
    border-radius: 5px;
    text-align: center;
    padding:  10px;


    
}


.error{
    background-color: rgb(209, 93, 93);
}
.success{
    background-color: rgb(35, 192, 48);
}