.w-450x {
    width: 450px;
}



.center-text {
    text-align: center;
}

a{
    text-decoration: none;
}

body{
     background-image: url(pepperbg.jpg); 
    /* background-color: rgb(105, 53, 8); */
}